// Dominant colors
$primary-color : #33C3F0;
$primary-hover-color : lighten($primary-color, 30%);

// Text colors
$text-color : #222;
$muted-text-color: #666;

$s-width: 320px;
$m-width: 768px;
$l-width: 1224px;